.favoritos {
	@include flex-column;

	h1 {
		font-size: 2.6em;
	}

	ul {
		width: 100%;
		padding: 0;
		@include flex-column;

		li {
			padding: 0;
			margin-bottom: 1em;
			width: 80%;
			display: flex;
			justify-content: space-between;
			align-items: center;

			span {
				font-size: 1.6em;
			}

			div {
				button {
					margin-left: 0.6em;
				}

				button:hover {
					cursor: pointer;
				}

				a {
					text-decoration: none;
					color: $red;
				}
			}
		}
	}
}
