::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: $dark1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: $dark2;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: $red;
}
